[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    *.egg-info
# E203 whitespace before ':', E501 line too long, W503 line break before binary operator
ignore = E203, E501, W503
